@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Six+Caps&display=swap');

:root {
  --main: #008080;
  --main-light: #92d5d5;
  --main-dark: #012222;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-medium: #999;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
  --main-font: 'IBM Plex Serif', serif;
  --logo-font: 'Six Caps', sans-serif;
  --feature-font: 'Fredericka the Great', serif;
  --second-font: 'Poppins', sans-serif;
}

* {
  font-family: var(--main-font);
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

/* To Do - Scrollbar */
/* To Do - Loader */

.container {
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  position: relative;
}

/* .main-container {

} */

.menu-icon {
  width: 4rem;
  height: 2rem;
  position: fixed;
  top: 7rem;
  right: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000; 
}

.line {
  height: 0.2rem;
  background-color: var(--main);
  transition: all 0.3s;
}

.line-1,
.line-3 {
  width: 100%;
}

.menu-icon:hover .line-1,
.menu-icon:hover .line-3 {
  width: 70%;
}

.navigate .line-1 {
  width: 50%;
  transform: translate(103%, 0.5rem) rotateZ(25deg);
}

.navigate .line-3 {
  width: 50%;
  transform: translate(103%, -0.5rem) rotateZ(-25deg);
}

.navigate .menu-icon:hover .line-1,
.navigate .menu-icon:hover .line-3 {
  width: 50%;
}

.line-2 {
  width: 70%;
}

.menu-icon:hover .line-2 {
  margin-left: 30%;
}

.navigate .line-2 {
  width: 100%;
}

.navigate .menu-icon:hover .line-2 {
  margin-left: 0;
}

.navigation {
  width: 100%;
  height: 100vh;
  background-color: var(--main-dark);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.navigate .navigation {
  opacity: 1;
  visibility: visible;
}

.nav-left {
  width: 50%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}

.navigate .nav-left {
  opacity: 1;
  visibility: visible;
  transition: all 1s 0.7s;
}

.nav-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 1s;
}

.nav-left:hover img {
  filter: grayscale(0);
  opacity: 1;
}

.nav-right {
  width: 100%;
  width: 100%;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-200%);
}

.navigate .nav-right {
  transform: translateX(0);
  width: 50%;
  transition: all 1s;
}

.nav-items {
  display: flex;
  flex-direction: column;
}

.nav-items a {
  font-size: 1.8rem;
  margin: 2rem 0;
  text-transform: uppercase;
  color: var(--grey-medium);
  opacity: 0;
  visibility: hidden;
}

.navigate .nav-items a {
  opacity: 1;
  visibility: visible;
}

.navigate .nav-items a:nth-child(1) {
  transition: opacity 0.5s 1s, color 0.3s;
}

.navigate .nav-items a:nth-child(2) {
  transition: opacity 0.5s 1.2s, color 0.3s;
}

.navigate .nav-items a:nth-child(3) {
  transition: opacity 0.5s 1.4s, color 0.3s;
}

.navigate .nav-items a:nth-child(4) {
  transition: opacity 0.5s 1.6s, color 0.3s;
}

.navigate .nav-items a:nth-child(5) {
  transition: opacity 0.5s 1.8s, color 0.3s;
}

.nav-items a:first-child {
  padding-left: 6rem;
  position: relative;
}

.nav-items a:first-child::before {
  content: '';
  width: 4.8rem;
  height: 0.2rem;
  background-color: var(--grey-medium);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.nav-items a:first-child:hover::before {
  background-color: var(--main);
}

.nav-items a:hover {
  color: var(--main);
}

.nav-items a span {
  font-family: var(--feature-font); 
  font-weight: lighter;
  font-size: 1.8rem;
  margin-right: 1rem;
  position: relative;
}

.nav-items a span::before {
  content: '';
  width: 0;
  height: 0.1rem;
  background-color: var(--main);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;;
}

.nav-items a:hover span:before {
  width: 100%;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.logo { 
  position: absolute;
  top: 3rem;
  left: 25rem;
}

.logo span {
  font-family: var(--feature-font);
  font-size: 7rem;
  color: var(--grey-medium);
}

.banner {
  position: absolute;
  right: 20rem;
  bottom: 30rem;
  text-align: center;
}

.banner h3 {
  font-size: 5rem;
  font-style: italic;
  font-weight: 100;
  color: var(--grey-medium);
  transform: translate(3rem, 11rem);
}

.banner h1 {
  font-family: var(--feature-font);
  font-size: 15rem;
  letter-spacing: 1rem;
  background-image: url('./images/banner-bg-text-2.jpg');
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.banner h1 span {
  font-size: 25rem;
}

.banner h4 {
  font-size: 1.8rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  color: var(--grey-medium);
}

.about {
  width: 100%;
  background-color: var(--grey-light);
  padding: 10rem 0 15rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  width: 100%;
  height: 100%;
  display: flex;
}

.about-content-left {
  width: 50%;
  text-align: center;
  padding-right: 6rem;
}

.section-num span {
  font-family: var(--feature-font);
  font-size: 25rem;
  background-image: url('./images/about.jpg');
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.main-btn {
  width: 28rem;
  height: 6rem;
  background-color: var(--main-dark);
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.main-btn:active {
  transform: translateY(0.2rem);
}

.main-btn::before {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent,
    var(--main),
    transparent
  );
  position: absolute;
  top: 0;
  left: -100%;
  transform: skewX(-30deg);
  transition: left 0.3s;
}

.main-btn:hover::before {
  left: 100%;
}

.main-btn a {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--grey-medium);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content-right {
  width: 50%;
  padding: 8rem 0 0 6rem;
}

.section-heading-sm {
  font-size: 1.2rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--grey-dark);
}

.section-heading-lg {
  font-size: 3rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--main-dark);
  margin: 3rem 0;
}

.section-border {
  width: 50rem;
  height: 0.1rem;
  color: var(--main);
  margin-bottom: 3rem;
  position: relative;
}

.section-border::after {
  content: '';
  width: 7rem;
  height: 0.1rem;
  background-color: var(--main);
  position: absolute;
  top: 0;
  left: 0;
}

.about p {
  width: 50rem;
  font-size: var(--grey-dark);
  line-height: 3.5rem;
  margin-bottom: 4rem;
}

.games {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0 15rem 0;
}

.games-content {
  text-align: center;
}

.games-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.games-header {
  text-align: right;
  margin-right: 10rem;
}

.games-header .section-border::after {
  right: 0;
  left: auto;
}

.books-top .section-num span {
  background-image: url('images/banner-bg-text-2.jpg');
}

.game img {
  width: 30rem;
  height: auto;
  filter: grayscale(100%);
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: filter 1s;
}

.game img:hover {
  filter: grayscale(0);
}

@media (max-width: 1600px) {

}

@media (max-width: 1440px) {
  html {
    font-weight: 58%;
  }
}

@media (max-width: 1368px) {
  html {
    font-weight: 55%;
  }
  .banner {
    bottom: 25rem;
  }
}

@media (max-width: 1280px) {
  .about-content-left {
    width: 45%;
  }
  .about-content-right {
    width: 55%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 52%;
  }
  .logo {
    left: 10rem;
  }
  .menu-icon {
    right: 5rem;
  }
  .banner {
    bottom: 20rem;
  }
}

@media (max-width: 820px) {
  html {
    font-size: 48%;
  }
  .banner {
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
  }
  .about-content-left {
    width: 40%;
  }
  .about-content-right {
    width: 60%;
  }
  .section-heading-sm {
    font-size: 1.4rem;
  }
  .about p {
    font-size: 1.6rem;
    width: 45rem;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 430px) {
  html {
    font-size: 42%;
  }
  .nav-left {
    display: none;
  }
  .navigate .nav-right {
    width: 100%;
  }
  .logo {
    left: 5rem;
  }
  .banner h3 {
    font-size: 3.5rem;
  }
  .banner h1 {
    font-size: 12rem;
  }
  .about {
    height: 80vh;
    padding-bottom: 25rem;
    position: relative;
  }
  .about-content-left {
    padding-right: 0;
  }  
  .section-num span {
    font-size: 16rem;
  }
  .about-content-right {
    padding: 4rem 0 0 6rem;
  }
  .about .main-btn {
    position: absolute;
    bottom: 15rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .section-heading-lg {
    font-size: 2.5rem;
  }
  .about-content-right .section-border {
    width: 25rem;
  }

  .about-content-right p {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .about-content-right p:last-child {
    top: 50%;
  }
}

@media (max-width: 393px) {
  html {
    font-size: 38%;
  } 
}

@media (max-width: 375px) {
  html {
    font-size: 36%;
  } 
}