@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Six+Caps&display=swap');

:root {
  --main: #ff4500;
  --support: #008080;
  --support-light: #92d5d5;
  --support-dark: #012222;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-medium: #999;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
}

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

/* To Do - Scrollbar */
/* To Do - Loader */

.logo {
  font-family: 'Six Caps', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  position: relative;
}

/* .main-container {

} */

.menu-icon {
  width: 4rem;
  height: 2rem;
  position: fixed;
  top: 7rem;
  right: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000; 
}

.line {
  height: 0.2rem;
  background-color: var(--support);
  transition: all 0.3s;
}

.line-1,
.line-3 {
  width: 100%;
}

.menu-icon:hover .line-1,
.menu-icon:hover .line-3 {
  width: 70%;
}

.navigate .line-1 {
  width: 50%;
  transform: translate(103%, 0.5rem) rotateZ(25deg);
}

.navigate .line-3 {
  width: 50%;
  transform: translate(103%, -0.5rem) rotateZ(-25deg);
}

.navigate .menu-icon:hover .line-1,
.navigate .menu-icon:hover .line-3 {
  width: 50%;
}

.line-2 {
  width: 70%;
}

.menu-icon:hover .line-2 {
  margin-left: 30%;
}

.navigate .line-2 {
  width: 100%;
}

.navigate .menu-icon:hover .line-2 {
  margin-left: 0;
}

.navigation {
  width: 100%;
  height: 100vh;
  background-color: var(--support-dark);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 100;
}

.nav-left {
  width: 50%;
  height: 100%;
  cursor: pointer;
}

.nav-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 1s;
}

.nav-left:hover img {
  filter: grayscale(0);
  opacity: 1;
}

.nav-right {
  width: 100%;
  width: 100%;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
}